@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import 'partials/_colors';
@import 'partials/_mixins';
@import 'partials/_fonts';

$icon-font-path: '../fonts/';


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/*APPLY SHEER OVERLAY ON TOP OF ELEMENT (EL MUST BE POS RELATIVE) */
.sheer-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: rgba(66,66,66,0.8);*/
  background:rgba(246, 186, 4, 0.5);
  z-index: -2;
}


.sheer-overlay-black {
  @extend .sheer-overlay;
  background-color: rgba(0, 0, 0, 0.3);
}

.rock-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*background: rgba(66,66,66,0.8);*/
  background-image: url('../images/ground.jpg');
  background-attachment: fixed;

  &:after {
    content: "";
    position: absolute;
    background-color: rgba(66,66,66,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  } 
}

/*i {
   text-shadow: 1px 0px 2px rgba(0,0,0,0.5);
}
i::before {

    text-shadow: 1px 0px 3px rgb(159, 92, 74);

}*/
div.bg-design {
    margin: 0 auto;
    background: url('https://www.psd2html.com/bundles/intdevp2h/images/bg-product.jpg?2')  -4px 50% no-repeat;
    /*background-size: 50%;*/
  }
  
/* GENERAL LAYOUT
-------------------------------------------------- */

body {
  background-color: $bg-color;
  font-family: "Roboto Condensed","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

.panel {
  margin-bottom: 0;
  border: 0;
  max-width: 1200px;
}

.panel-body {
  /*background-color: #DDDDDD;*/
  border: 0;
  background-color: #303030;
}


hr.no-border {
  border-style: none;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: normal;
  color: #333333;
}

h1, h2, h3 {
  font-weight: 600;

}

h4 {
  text-transform: uppercase;
  font-style: italic;
}

.heading-container {
  width: 100%;
  text-align: center;
  /*border: 1px solid blue;*/
  padding: 2em 0;

  h3 {
    margin: 0 auto;
/*    color: #333333 !important; */
    /*font-style: italic;*/
    text-transform: uppercase;
  }
}

/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: $bg-color;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.header-logo {
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  width: 100%;

  a.block-logo {
    /*width: 300px;*/
    background-color: $logo-yellow; 
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;

  }
  img {
    width: 150px;
  }
}


.navbar-toggle span.icon-bar {
  background-color: $logo-yellow;
}
/* change colors of the nave menu links here */
.nav li a {
  color: $logo-yellow;
  /*font-weight: normal;*/
  font-weight: 600;
  text-transform: uppercase;
}

/* FOOTER
-------------------------------------------------- */
footer {

  color: #e5e5e5;

  h4 {
    color: #e5e5e5;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }


}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  overflow: hidden;
  width: 100%;
  border-bottom: 3px solid $logo-yellow;
}
/* Since positioning the image, we need to help out the caption */

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  /*background-color: #777;*/
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  /*position: relative;*/

  &:after {
    @include and-after-overlay($sheer-black);
  }

  .carousel-caption {
    z-index: 10;
    text-align: left;
    bottom: 20%;
  }

}

.static-header .carousel-caption {
  text-align: left;
  position: absolute;
  z-index: 15;
  top: 30%;
  color: $logo-yellow;
  
  h1 { 
    font-size: 4.5em;
    letter-spacing: .05em; 
  }
}

ol.carousel-indicators {
  bottom: 40px;

  li {
    border-color: rgba(246, 186, 4, 0.5);
  }

  li.active {
    background-color: rgba(246, 186, 4, 0.5);
  }
}

/* SECTIONS 
-------------------------------------------------- */

#features, #specs, #news, #contact-us, #models {
  /*border: 1px solid;*/
  padding: 2.5%;

  .row-inner{
 /*   border: 1px solid red;
*/    overflow: auto;
  }
}


#features {

    color: white;

    .features-list {
      border: 0;
      margin: 0;
      margin-bottom: 15px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }

    .features-list li  {
      background-color: transparent;
      border:0;
      font-weight: normal;
      color: white; 
      font-size: $font-size-h4;
      padding-left: 0;
      padding-right: 0;
    }
}

/*=========================*/ 

#news {
background-color: white;
.col-sm-4 {
  position: relative;
  @media (min-width: 768px) {
      width: 33.33333%;
  }
}

.news-cta {
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.news-image {
  display: block;
  line-height: 0;
  border-bottom: 5px solid #ffc324;
  margin-bottom: 25px;
  overflow: hidden;
  background-color: #000;
  text-align: center;
  

  &:hover {
    border-bottom-color: #d79c00;
  }

  /*max-height: 200px;*/

  img {
    width:auto!important;
    height:auto;
    max-width:100%!important;
    transition: transform .2s ease-in-out;
  }
  
}


}

/*=========================*/ 


#models {
  background-color: #303030;


  h3 {
    color: white;
  }
  .model-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } 

  .col {
    align-self: stretch;

  /*SMALL*/
    /*display: flex;*/
    /*flex: 1;*/
    flex-basis: 100%;
    flex-wrap: wrap;


  /* BIGGER*/
    @media (min-width: 498px) {
      display: flex;
      flex-direction: column;
      padding: 0.5%;
      flex-basis: 49%;
    }   
  /* MEDIUM*/
    @media (min-width: 768px) {
      display: flex;
      padding: 0.5%;
      flex-basis: 32.333%;
    }   
  
  /*LARGE - if the max viewport is 920px, we would like the number of items per row to be limited to four */
    @media (min-width: 998px) {
      display: flex;
      padding: 0.5%;
      flex-basis: 24%;
    }
  }

  .thumbnail { 
    flex-grow: 1;
    align-self: stretch;
    background: #ffc324;
    background: -webkit-linear-gradient(top,#fee86b,#ffc324);
    background: linear-gradient(180deg,#fee86b 0,#ffc324);
    max-width: 100%;
    max-height: 100%;
    border: none;
    border-radius: 0;

    @media (min-width: 498px) {
      margin-bottom:0;
    } 

    h4 {
      font-style: normal;
    }
    .caption {
      margin-top: auto;
    }
    .rank-icon {
      text-transform: uppercase;
      border-bottom: 2px solid #333333;
      font-size: 18px;
      font-weight: 700;
      /*font-style: italic;*/
      /*border-width: 1px;*/
    }
  }
}

/*=========================*/ 


#contact-us {
  .btn-primary {
    border:0;
    background-color: #538FEC;
    border-radius: 0;
  }
  .contact-row {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    overflow: auto;
    border: 1px solid green;
  }
  
  .contact-item {
      display: flex;
      align-items: center;
      align-content: stretch;
      flex-direction: column;
      margin: 0 auto;
      justify-content: flex-start;

      address {
        text-align: center;
      }
    }

  #map-canvas {
    /*position: relative;*/

      #map {
        @include border-radius(50%);
        background: $panel-color;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        border:1px solid $brdr-grey;
       /* overflow: hidden;
        position: relative;*/
      }
  }
}



/*===========================*/

/*===========================*/



/* REUSABLE YOUTUBE VIDEO STUFF - CHANGE ID OF PLAYER TO REUSE */
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    width: 100%;
  }

  #player {   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-bottom: 6px solid $logo-yellow;
  }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
@media (min-width: 401px) {

}

