$icon-font-path: '../fonts/';


/*LOGO COLOR: #F6BA04 */

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(246, 186, 4, 0.5);
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.header-logo {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 25;
  top: 0;
  width: 100%;

}


ul.nav li a {
  color: #000;
  font-weight: bold;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  overflow: hidden;
  width: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-align: left;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;

}

.static-header .carousel-caption {
  position: absolute;
  z-index: 15;
  bottom: 120px;
  color: #F6BA04;
  h1 { font-size: 3.5em; }
  h1, h2 {
    display: inline-block;
  }
}



/* SECTIONS 
-------------------------------------------------- */



#features {

  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;

  h4 {
    text-align: center;
  }
}

#big-squares {
  background-color: #ddd;
  padding: 50px 0;

  /*overflow: hidden;*/
  .row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    max-width: 800px;

  }
  .col {
    height: 350px;
    width: 400px;
    border: 1px solid;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content : space-around;
   
  }

  ul.patents {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

/* YOUTUBE VIDEO STUFF */
  .video-col {
    background: #000;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
  }

  #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}





/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
/*  .navbar-wrapper {
    margin-top: 20px;
  }*/
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}


