$icon-font-path: '../fonts/';


/*LOGO COLOR: #F6BA04 */

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* COLORS & TEXT
-------------------------------------------------- */

/*LOGO YELLOW: #F6BA04 */
/*SHEER YELLOW: rgba(246, 186, 4, 0.5) */
/*BLACK: #000 */
/*SHEER BLACK: */
/*GREY TEXT: #5a5a5a */ 
/*WHITE TEXT WITH SHADOW:    
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
*/

/*EXPERIMENTAL BLUE: #0D5F9E */

/*APPLY SHEER OVERLAY ON TOP OF ELEMENT (EL MUST BE POS RELATIVE) */
.sheer-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*background: rgba(66,66,66,0.8);*/
  background:rgba(246, 186, 4, 0.5);
  z-index: -2;
}


.sheer-overlay-black {
  @extend .sheer-overlay;
  background-color: rgba(0, 0, 0, 0.3);
}

.rock-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*background: rgba(66,66,66,0.8);*/
  background-image: url('../images/ground.jpg');
  background-attachment: fixed;

  &:after {
    content: "";
    position: absolute;
    background-color: rgba(66,66,66,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  } 
}



div.bg-design {
    margin: 0 auto;
    background: url('https://www.psd2html.com/bundles/intdevp2h/images/bg-product.jpg?2')  -4px 50% no-repeat;
    /*background-size: 50%;*/
  }
  
/* GENERAL LAYOUT
-------------------------------------------------- */

body {
  /*padding-bottom: 40px;*/
  color: #5a5a5a; 
}

.panel {
  margin-bottom: 0;
}

.bg-color {
  background-color: #121111;
}

hr.no-border {
  border-style: none;
}

span.underline {
  display: block;
  width: 30%;
  border-top: 3px solid white;
  margin: 10px auto 15px auto;
  /*padding-bottom: 10px*/
}


/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: #121111;
  /*background-color: rgba(246, 186, 4, 0.7);*/
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.header-logo {
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  width: 100%;

  a.block-logo {
    /*width: 300px;*/
    background-color: #F6BA04; 
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;

  }

  img {
    width: 150px;
  }
}
/* change colors of the nave menu links here */
.nav li a {
  color: white;
  font-weight: bold;
}

/* FOOTER
-------------------------------------------------- */



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  overflow: hidden;
  width: 100%;
  border-bottom: 8px solid #F6BA04;
}
/* Since positioning the image, we need to help out the caption */

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  /*position: relative;*/

  &:after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
  }

  .carousel-caption {
    z-index: 10;
    text-align: left;
    bottom: 20%;
  }

}

.static-header .carousel-caption {
  text-align: left;
  position: absolute;
  z-index: 15;
  top: 30%;
  color: #F6BA04;
  
  h1 { font-size: 4.5em;
    letter-spacing: .05em; }
/*    
  h1, h2 {
    display: inline-block;
  }*/

}

ol.carousel-indicators {
  bottom: 40px;

  li {
    /*border-radius: 0;*/
    border-color: rgba(246, 186, 4, 0.5);
  }

  li.active {
    background-color: rgba(246, 186, 4, 0.5);
  }
}

/* SECTIONS 
-------------------------------------------------- */

#features, #news, #contact {
  h3, h4 {
    text-align: center;
  }
}

/*=========================*/ 
#news {
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
}

/*=========================*/ 

#specs {
  /*background-color: #707070;*/
  text-align: center;
  /*background-color:  #0D5F9E;*/
  color: white;

  h4 {
    margin-bottom: 0;
  }


  .specs-container {
    display: flex;
    flex-directon: row; 
    flex-wrap: wrap;
    /*border: 1px solid;*/
    justify-content: space-around;
  }

  .spec-inner {
    /*border: 1px solid;*/
    flex:1;
    padding: 2%;
    flex-basis: 48%;

    @media (min-width: 920px){
      flex-basis: 31.333%;
    }
  }

  .specs-table {
    text-align: center; 
    border:6px solid #0D5F9E;
    -moz-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
    
    .specs-table-header {
      padding: 0px;
      background-color: #0D5F9E;

      .heading {
        display: inline-block;
        width: 100%;
        padding: 15px 0px 0px 0px;
        text-transform: uppercase;
      }

      .value {
        display: inline-block;
        width: 100%;
        padding: 20px 0px 20px 0px;
        background-color: #084A7C;

        h4 {
          margin: 0; 
          padding: 0;
        }
      }
    }

    .specs-table-features {
      /*background: #fff;*/
      p { 
        color: #646464;
        padding: 5px;
        margin-top: 5px;
        font-size: 110%;
        font-weight: 400;
        /*background: #fff;*/
      }

      p:first-child {
            border-bottom: 1px solid #BDC3C7;
      }
    }


    .specs-table-button {
          /*border-top: 1px solid #BDC3C7;*/
      padding: 10px 20px;
      text-align: center;

        .btn {
          background-color: #F6BA04;
          border-color: #F6BA08;
          color: #121111;
        }
    }





  }

}



/*=========================*/ 

#big-squares {
  
  background-color: #eee;
  padding: 0 ;
  position: relative;
  z-index: 1;

  /* container of all the boxes: */
  .flex-container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;

      @media (min-width: 1200px) and (max-width:1600px) {
       flex-wrap: nowrap;
      }
  }
  
  /* the boxes: */
  .flex-item {
    height: 400px;
    width: 400px;
    display: flex; 
    overflow: hidden;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    max-width: 450px;
    flex-grow: 2;

      @media (max-width:480px) and (max-width:767px) {
        min-width: 100%;
      }
      @media (max-width:768px) and (max-width: 1200px) {
        width: 50%;
        height: 350px;
      }
      @media (min-width: 1201px) and (max-width:1600px) {
        height: 350px;
        width: 25%;
      }
  }

  /* content inside of the boxes: */
  .flex-content {
    height: 100%;
    width: 100%;
    display: flex; 
    -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
    flex-direction: column;
    overflow: hidden;

  }
  
  /* individual box content styles: */
  .image-col {
    img {
      height: 100%;  
    }
  }
  .patents-col {
    background-color: #ddd;

    ul.patents {
      list-style: none;
      padding: 0;
      margin: 0 auto;
    }
  }
  .specs-col {
    background-color: #F6BA04;
    /*color: white;*/
  }
  .video-col {
    background: #000;
  }
}

/*===========================*/

#contact {
  background-image: url('../images/map.png');
  background-position: top 0% left 0% ;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  .container {
    position: relative;
    z-index: 100;
   /* color: white;*/
  }
}
/*===========================*/



/* REUSABLE YOUTUBE VIDEO STUFF - CHANGE ID OF PLAYER TO REUSE */
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    width: 100%;
  }

  #player {   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
@media (min-width: 401px) {

}

