/* override bootstrap styles */
/*@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');*/
.navbar-form input, .form-inline input {
  width: auto;
}

body {
  padding-top: 50px;
  color: #646464;
  /*background-color:#efefef;*/
}

h1, h2, h3, .highlight, .navbar a, #masthead h4 {
  /*font-family:'Oswald',arial narrow,sans-serif;*/
}

footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color:#cecece;*/
}

/*#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}*/
#masthead h1 {
  font-size: 55px;
  line-height: 1;
  /*color:#fefeff;*/
  /*margin-top:50px;*/
}

/*#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}
*/
#topPanel {
  padding-top: 0px;
  padding-left: 22px;
  padding-right: 22px;
}

#topPanel .panel-body {
  padding-top: 0px;
}

.navbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/*.top-spacer {
  background-color:#ffffff;
  height:40px;
}
*/
a, a:hover {
  /*color:#223344;*/
  /*text-decoration:none;*/
}

.icon-bar {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color: #121111;
  color: #fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color: #ccccdd;
  font-size: 14px;
  /*text-transform: uppercase;*/
  letter-spacing: .08em;
}

.navbar-bright li > a:hover {
  background-color: #000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color: #fff;
}

.navbar-toggle {
  color: #fff;
  border-width: 0;
}

.navbar-toggle:hover {
  background-color: #fff;
}

.panel {
  border-color: transparent;
  border-radius: 0;
}

.thumbnail {
  margin-bottom: 8px;
}

.img-container {
  overflow: hidden;
  height: 170px;
}

.img-container img {
  min-width: 280px;
  min-height: 180px;
  max-width: 380px;
  max-height: 280px;
}

.txt-container {
  overflow: hidden;
  height: 100px;
}

.panel .lead {
  overflow: hidden;
  height: 90px;
}

.label-float {
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: .9;
  padding: 6px;
  color: #fff;
}

.btn-twitter {
  background-color: #4099FF;
  color: #fff;
}

.btn-facebook {
  background-color: #3B5998;
  color: #fff;
}

.btn-google-plus {
  background-color: #d34836;
  color: #fff;
}

.btn-twitter:hover {
  background-color: #3088FF;
  color: #62BBFF;
}

.btn-facebook:hover {
  background-color: #2A4998;
  color: #4C6BBA;
}

.btn-google-plus:hover {
  background-color: #C23836;
  color: #E45A58;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlcy5zY3NzIiwic3R5bGVzLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSwrQkFBK0I7QUFDL0IseUZBQXlGO0FBRXpGO0VBQ0UsWUFBVztDQUNaOztBQUVEO0VBQ0Usa0JBQWlCO0VBQ2pCLGVBQWM7RUFDZCw2QkFBNkI7Q0FDOUI7O0FBRUQ7RUFDRSxpREFBaUQ7Q0FDbEQ7O0FBRUQ7RUFDRSxpQkFBZ0I7RUFDaEIsa0JBQWlCO0VBQ2pCLHFCQUFvQjtFQUNwQiw2QkFBNkI7Q0FFOUI7O0FBR0Q7Ozs7R0FJRztBQUVIO0VBQ0UsZ0JBQWdCO0VBQ2hCLGVBQWU7RUFDZixrQkFBa0I7RUFDbEIsb0JBQW9CO0NBQ3JCOztBQUVEOzs7Ozs7O0VBT0U7QUFDRjtFQUNFLGlCQUFnQjtFQUNoQixtQkFBa0I7RUFDbEIsb0JBQW1CO0NBQ3BCOztBQUNEO0VBQ0UsaUJBQWdCO0NBQ2pCOztBQUVEO0VBQ0UsZ0JBQWU7RUFDZixPQUFNO0VBQ04sWUFBVztDQUNaOztBQUVEOzs7O0VBSUU7QUFDRjtFQUNFLGtCQUFrQjtFQUNsQix5QkFBeUI7Q0FDMUI7O0FBRUQ7RUFDRSx1QkFBc0I7Q0FDdkI7O0FBRUQ7RUFDRTtJQUNFLGdCQUFnQjtHQUNqQjtDQ0ZGOztBREtEO0VBQ0UsMEJBQXlCO0VBQ3pCLFlBQVc7RUFDWCxpQkFBaUI7RUFDakIsZ0JBQWdCO0NBQ2pCOztBQUVEO0VBQ0UsZUFBYztFQUNkLGdCQUFlO0VBQ2YsOEJBQThCO0VBQzlCLHNCQUFxQjtDQUN0Qjs7QUFFRDtFQUNFLDBCQUF5QjtDQUMxQjs7QUFFRDtFQUNFLGlCQUFpQjtDQUNsQjs7QUFFRDtFQUNFLFlBQVc7Q0FDWjs7QUFFRDtFQUNFLFlBQVc7RUFDWCxnQkFBZTtDQUNoQjs7QUFFRDtFQUNFLHVCQUFzQjtDQUN2Qjs7QUFFRDtFQUNFLDBCQUF5QjtFQUN6QixpQkFBZ0I7Q0FDakI7O0FBRUQ7RUFDRSxtQkFBa0I7Q0FDbkI7O0FBRUQ7RUFDRSxpQkFBZ0I7RUFDaEIsY0FBYTtDQUNkOztBQUVEO0VBQ0UsaUJBQWdCO0VBQ2hCLGtCQUFpQjtFQUNqQixpQkFBZ0I7RUFDaEIsa0JBQWlCO0NBQ2xCOztBQUVEO0VBQ0UsaUJBQWdCO0VBQ2hCLGNBQWE7Q0FDZDs7QUFFRDtFQUNFLGlCQUFnQjtFQUNoQixhQUFZO0NBQ2I7O0FBRUQ7RUFDRSxlQUFjO0VBQ2QsbUJBQW1CO0VBQ25CLE9BQU87RUFDUCxXQUFXO0VBQ1gsWUFBVztFQUNYLFlBQVc7RUFDWCxhQUFZO0VBQ1osWUFBVztDQUNaOztBQUVEO0VBQWMsMEJBQXlCO0VBQUMsWUFBVztDQUFHOztBQUN0RDtFQUFlLDBCQUF5QjtFQUFDLFlBQVc7Q0FBRzs7QUFDdkQ7RUFBa0IsMEJBQXlCO0VBQUMsWUFBVztDQUFHOztBQUUxRDtFQUFvQiwwQkFBeUI7RUFBQyxlQUFjO0NBQUc7O0FBQy9EO0VBQXFCLDBCQUF5QjtFQUFDLGVBQWM7Q0FBRzs7QUFDaEU7RUFBd0IsMEJBQXlCO0VBQUMsZUFBYztDQUFHIiwiZmlsZSI6InN0eWxlcy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvKiBvdmVycmlkZSBib290c3RyYXAgc3R5bGVzICovXG4vKkBpbXBvcnQgdXJsKCdodHRwOi8vZm9udHMuZ29vZ2xlYXBpcy5jb20vY3NzP2ZhbWlseT1Pc3dhbGQ6MzAwLDQwMDpsYXRpbixsYXRpbi1leHQnKTsqL1xuXG4ubmF2YmFyLWZvcm0gaW5wdXQsIC5mb3JtLWlubGluZSBpbnB1dCB7XG4gIHdpZHRoOmF1dG87XG59XG5cbmJvZHkge1xuICBwYWRkaW5nLXRvcDo1MHB4O1xuICBjb2xvcjojNjQ2NDY0O1xuICAvKmJhY2tncm91bmQtY29sb3I6I2VmZWZlZjsqL1xufVxuXG5oMSxoMixoMywuaGlnaGxpZ2h0LC5uYXZiYXIgYSwjbWFzdGhlYWQgaDQge1xuICAvKmZvbnQtZmFtaWx5OidPc3dhbGQnLGFyaWFsIG5hcnJvdyxzYW5zLXNlcmlmOyovXG59XG5cbmZvb3RlciB7XG4gIG1hcmdpbi10b3A6NDBweDtcbiAgcGFkZGluZy10b3A6NDBweDtcbiAgcGFkZGluZy1ib3R0b206NDBweDtcbiAgLypiYWNrZ3JvdW5kLWNvbG9yOiNjZWNlY2U7Ki9cbiBcbn1cblxuXG4vKiNtYXN0aGVhZCB7XG4gIG1pbi1oZWlnaHQ6MTk5cHg7XG4gIGJhY2tncm91bmQtY29sb3I6IzAwMDA0NDtcbiAgY29sb3I6I2FhYWFjYztcbn0qL1xuXG4jbWFzdGhlYWQgaDEge1xuICBmb250LXNpemU6IDU1cHg7XG4gIGxpbmUtaGVpZ2h0OiAxO1xuICAvKmNvbG9yOiNmZWZlZmY7Ki9cbiAgLyptYXJnaW4tdG9wOjUwcHg7Ki9cbn1cblxuLyojbWFzdGhlYWQgLndlbGwge1xuICBtYXJnaW4tdG9wOjMxcHg7XG4gIGJhY2tncm91bmQtY29sb3I6IzExMTE2NjtcbiAgYm9yZGVyLWNvbG9yOiMwMDAwMjI7XG4gIGNvbG9yOiNlZmVmZmY7XG4gIG1pbi1oZWlnaHQ6MTI3cHg7XG59XG4qL1xuI3RvcFBhbmVsIHtcbiAgcGFkZGluZy10b3A6MHB4O1xuICBwYWRkaW5nLWxlZnQ6MjJweDtcbiAgcGFkZGluZy1yaWdodDoyMnB4O1xufVxuI3RvcFBhbmVsIC5wYW5lbC1ib2R5IHtcbiAgcGFkZGluZy10b3A6MHB4O1xufVxuXG4ubmF2YmFyLmFmZml4IHtcbiAgcG9zaXRpb246Zml4ZWQ7XG4gIHRvcDowO1xuICB3aWR0aDoxMDAlO1xufVxuXG4vKi50b3Atc3BhY2VyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmO1xuICBoZWlnaHQ6NDBweDtcbn1cbiovXG5hLGE6aG92ZXIge1xuICAvKmNvbG9yOiMyMjMzNDQ7Ki9cbiAgLyp0ZXh0LWRlY29yYXRpb246bm9uZTsqL1xufVxuXG4uaWNvbi1iYXIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiNmZmY7XG59XG5cbkBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDc2OHB4KSB7XG4gICNtYXN0aGVhZCBoMSB7XG4gICAgZm9udC1zaXplOiA4MHB4O1xuICB9XG59XG5cbi5uYXZiYXItYnJpZ2h0IHtcbiAgYmFja2dyb3VuZC1jb2xvcjojMTIxMTExO1xuICBjb2xvcjojZmZmO1xuICBtYXJnaW4tYm90dG9tOiAwO1xuICBib3JkZXItd2lkdGg6IDA7XG59XG5cbi5uYXZiYXItYnJpZ2h0IGEsIC5uYXZiYXItYnJpZ2h0IC5uYXZiYXItYnJhbmQsICNtYXN0aGVhZCBoNCB7XG4gIGNvbG9yOiNjY2NjZGQ7XG4gIGZvbnQtc2l6ZToxNHB4O1xuICAvKnRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7Ki9cbiAgbGV0dGVyLXNwYWNpbmc6LjA4ZW07XG59XG5cbi5uYXZiYXItYnJpZ2h0IGxpID4gYTpob3ZlciB7XG4gIGJhY2tncm91bmQtY29sb3I6IzAwMDA0NDtcbn1cblxuLmRyb3Bkb3duLW1lbnUge1xuICBtaW4td2lkdGg6IDI1MHB4O1xufVxuXG4uY2FyZXQge1xuICBjb2xvcjojZmZmO1xufVxuXG4ubmF2YmFyLXRvZ2dsZSB7XG4gIGNvbG9yOiNmZmY7XG4gIGJvcmRlci13aWR0aDowO1xufVxuXG4ubmF2YmFyLXRvZ2dsZTpob3ZlciB7XG4gIGJhY2tncm91bmQtY29sb3I6I2ZmZjtcbn1cblxuLnBhbmVsIHtcbiAgYm9yZGVyLWNvbG9yOnRyYW5zcGFyZW50O1xuICBib3JkZXItcmFkaXVzOjA7XG59XG5cbi50aHVtYm5haWwge1xuICBtYXJnaW4tYm90dG9tOjhweDtcbn1cblxuLmltZy1jb250YWluZXIge1xuICBvdmVyZmxvdzpoaWRkZW47XG4gIGhlaWdodDoxNzBweDtcbn1cblxuLmltZy1jb250YWluZXIgaW1nIHtcbiAgbWluLXdpZHRoOjI4MHB4O1xuICBtaW4taGVpZ2h0OjE4MHB4O1xuICBtYXgtd2lkdGg6MzgwcHg7XG4gIG1heC1oZWlnaHQ6MjgwcHg7XG59XG5cbi50eHQtY29udGFpbmVyIHtcbiAgb3ZlcmZsb3c6aGlkZGVuO1xuICBoZWlnaHQ6MTAwcHg7XG59XG5cbi5wYW5lbCAubGVhZCB7XG4gIG92ZXJmbG93OmhpZGRlbjtcbiAgaGVpZ2h0OjkwcHg7XG59XG5cbi5sYWJlbC1mbG9hdHtcbiAgbWFyZ2luOjAgYXV0bztcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6IDA7XG4gIHotaW5kZXg6IDE7XG4gIHdpZHRoOjEwMCU7XG4gIG9wYWNpdHk6Ljk7XG4gIHBhZGRpbmc6NnB4O1xuICBjb2xvcjojZmZmO1xufVxuICAgIFxuLmJ0bi10d2l0dGVyIHtiYWNrZ3JvdW5kLWNvbG9yOiM0MDk5RkY7Y29sb3I6I2ZmZjt9XG4uYnRuLWZhY2Vib29rIHtiYWNrZ3JvdW5kLWNvbG9yOiMzQjU5OTg7Y29sb3I6I2ZmZjt9XG4uYnRuLWdvb2dsZS1wbHVzIHtiYWNrZ3JvdW5kLWNvbG9yOiNkMzQ4MzY7Y29sb3I6I2ZmZjt9XG5cbi5idG4tdHdpdHRlcjpob3ZlciB7YmFja2dyb3VuZC1jb2xvcjojMzA4OEZGO2NvbG9yOiM2MkJCRkY7fVxuLmJ0bi1mYWNlYm9vazpob3ZlciB7YmFja2dyb3VuZC1jb2xvcjojMkE0OTk4O2NvbG9yOiM0QzZCQkE7fVxuLmJ0bi1nb29nbGUtcGx1czpob3ZlciB7YmFja2dyb3VuZC1jb2xvcjojQzIzODM2O2NvbG9yOiNFNDVBNTg7fVxuIiwiLyogb3ZlcnJpZGUgYm9vdHN0cmFwIHN0eWxlcyAqL1xuLypAaW1wb3J0IHVybCgnaHR0cDovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9T3N3YWxkOjMwMCw0MDA6bGF0aW4sbGF0aW4tZXh0Jyk7Ki9cbi5uYXZiYXItZm9ybSBpbnB1dCwgLmZvcm0taW5saW5lIGlucHV0IHtcbiAgd2lkdGg6IGF1dG87XG59XG5cbmJvZHkge1xuICBwYWRkaW5nLXRvcDogNTBweDtcbiAgY29sb3I6ICM2NDY0NjQ7XG4gIC8qYmFja2dyb3VuZC1jb2xvcjojZWZlZmVmOyovXG59XG5cbmgxLCBoMiwgaDMsIC5oaWdobGlnaHQsIC5uYXZiYXIgYSwgI21hc3RoZWFkIGg0IHtcbiAgLypmb250LWZhbWlseTonT3N3YWxkJyxhcmlhbCBuYXJyb3csc2Fucy1zZXJpZjsqL1xufVxuXG5mb290ZXIge1xuICBtYXJnaW4tdG9wOiA0MHB4O1xuICBwYWRkaW5nLXRvcDogNDBweDtcbiAgcGFkZGluZy1ib3R0b206IDQwcHg7XG4gIC8qYmFja2dyb3VuZC1jb2xvcjojY2VjZWNlOyovXG59XG5cbi8qI21hc3RoZWFkIHtcbiAgbWluLWhlaWdodDoxOTlweDtcbiAgYmFja2dyb3VuZC1jb2xvcjojMDAwMDQ0O1xuICBjb2xvcjojYWFhYWNjO1xufSovXG4jbWFzdGhlYWQgaDEge1xuICBmb250LXNpemU6IDU1cHg7XG4gIGxpbmUtaGVpZ2h0OiAxO1xuICAvKmNvbG9yOiNmZWZlZmY7Ki9cbiAgLyptYXJnaW4tdG9wOjUwcHg7Ki9cbn1cblxuLyojbWFzdGhlYWQgLndlbGwge1xuICBtYXJnaW4tdG9wOjMxcHg7XG4gIGJhY2tncm91bmQtY29sb3I6IzExMTE2NjtcbiAgYm9yZGVyLWNvbG9yOiMwMDAwMjI7XG4gIGNvbG9yOiNlZmVmZmY7XG4gIG1pbi1oZWlnaHQ6MTI3cHg7XG59XG4qL1xuI3RvcFBhbmVsIHtcbiAgcGFkZGluZy10b3A6IDBweDtcbiAgcGFkZGluZy1sZWZ0OiAyMnB4O1xuICBwYWRkaW5nLXJpZ2h0OiAyMnB4O1xufVxuXG4jdG9wUGFuZWwgLnBhbmVsLWJvZHkge1xuICBwYWRkaW5nLXRvcDogMHB4O1xufVxuXG4ubmF2YmFyLmFmZml4IHtcbiAgcG9zaXRpb246IGZpeGVkO1xuICB0b3A6IDA7XG4gIHdpZHRoOiAxMDAlO1xufVxuXG4vKi50b3Atc3BhY2VyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmO1xuICBoZWlnaHQ6NDBweDtcbn1cbiovXG5hLCBhOmhvdmVyIHtcbiAgLypjb2xvcjojMjIzMzQ0OyovXG4gIC8qdGV4dC1kZWNvcmF0aW9uOm5vbmU7Ki9cbn1cblxuLmljb24tYmFyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZjtcbn1cblxuQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNzY4cHgpIHtcbiAgI21hc3RoZWFkIGgxIHtcbiAgICBmb250LXNpemU6IDgwcHg7XG4gIH1cbn1cblxuLm5hdmJhci1icmlnaHQge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMTIxMTExO1xuICBjb2xvcjogI2ZmZjtcbiAgbWFyZ2luLWJvdHRvbTogMDtcbiAgYm9yZGVyLXdpZHRoOiAwO1xufVxuXG4ubmF2YmFyLWJyaWdodCBhLCAubmF2YmFyLWJyaWdodCAubmF2YmFyLWJyYW5kLCAjbWFzdGhlYWQgaDQge1xuICBjb2xvcjogI2NjY2NkZDtcbiAgZm9udC1zaXplOiAxNHB4O1xuICAvKnRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7Ki9cbiAgbGV0dGVyLXNwYWNpbmc6IC4wOGVtO1xufVxuXG4ubmF2YmFyLWJyaWdodCBsaSA+IGE6aG92ZXIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMDAwMDQ0O1xufVxuXG4uZHJvcGRvd24tbWVudSB7XG4gIG1pbi13aWR0aDogMjUwcHg7XG59XG5cbi5jYXJldCB7XG4gIGNvbG9yOiAjZmZmO1xufVxuXG4ubmF2YmFyLXRvZ2dsZSB7XG4gIGNvbG9yOiAjZmZmO1xuICBib3JkZXItd2lkdGg6IDA7XG59XG5cbi5uYXZiYXItdG9nZ2xlOmhvdmVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZjtcbn1cblxuLnBhbmVsIHtcbiAgYm9yZGVyLWNvbG9yOiB0cmFuc3BhcmVudDtcbiAgYm9yZGVyLXJhZGl1czogMDtcbn1cblxuLnRodW1ibmFpbCB7XG4gIG1hcmdpbi1ib3R0b206IDhweDtcbn1cblxuLmltZy1jb250YWluZXIge1xuICBvdmVyZmxvdzogaGlkZGVuO1xuICBoZWlnaHQ6IDE3MHB4O1xufVxuXG4uaW1nLWNvbnRhaW5lciBpbWcge1xuICBtaW4td2lkdGg6IDI4MHB4O1xuICBtaW4taGVpZ2h0OiAxODBweDtcbiAgbWF4LXdpZHRoOiAzODBweDtcbiAgbWF4LWhlaWdodDogMjgwcHg7XG59XG5cbi50eHQtY29udGFpbmVyIHtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgaGVpZ2h0OiAxMDBweDtcbn1cblxuLnBhbmVsIC5sZWFkIHtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgaGVpZ2h0OiA5MHB4O1xufVxuXG4ubGFiZWwtZmxvYXQge1xuICBtYXJnaW46IDAgYXV0bztcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICB0b3A6IDA7XG4gIHotaW5kZXg6IDE7XG4gIHdpZHRoOiAxMDAlO1xuICBvcGFjaXR5OiAuOTtcbiAgcGFkZGluZzogNnB4O1xuICBjb2xvcjogI2ZmZjtcbn1cblxuLmJ0bi10d2l0dGVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzQwOTlGRjtcbiAgY29sb3I6ICNmZmY7XG59XG5cbi5idG4tZmFjZWJvb2sge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjM0I1OTk4O1xuICBjb2xvcjogI2ZmZjtcbn1cblxuLmJ0bi1nb29nbGUtcGx1cyB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNkMzQ4MzY7XG4gIGNvbG9yOiAjZmZmO1xufVxuXG4uYnRuLXR3aXR0ZXI6aG92ZXIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMzA4OEZGO1xuICBjb2xvcjogIzYyQkJGRjtcbn1cblxuLmJ0bi1mYWNlYm9vazpob3ZlciB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMyQTQ5OTg7XG4gIGNvbG9yOiAjNEM2QkJBO1xufVxuXG4uYnRuLWdvb2dsZS1wbHVzOmhvdmVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0MyMzgzNjtcbiAgY29sb3I6ICNFNDVBNTg7XG59XG4iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */
