
/* COLORS & TEXT
-------------------------------------------------- */

/*BLACKS*/
$bg-color: #121111;
$sheer-black: rgba(0, 0, 0, 0.4);


/* GREYS */
$hdg-grey: #5a5a5a;
$txt-grey: #646464;
$bg-lt-grey: #fbfbfb;
$brdr-lt-grey: #f2f2f2;

/* WHITES */
$nav-links: white;
$panel-color: white;

/* BLUES */
$exotic-blue: #0D5F9E;
$dark-blue: #084A7C;


/* YELLOWS */
$logo-yellow: #F6BA04;